*{
    font-family: 'Bitter', serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Solway', serif; margin: 0;
}
.slider div div img{
    height: 500px; filter: brightness(50%);
}
/* .slider div div .card-body{
    height: 500px; width: 100%; text-align: center;
} */